@using SchoolCoreWEB.Models
@model IEnumerable<SessionYear>
@using Localization.Services
@inject LanguageService _localization



<div class="card ribbon-box">
	<div class="card-body">
		<div class="ribbon ribbon-info float-start"><i class="mdi mdi-access-point me-1"></i> @_localization.Getkey("SessionYearInfo")</div>

		<button type="button" class="btn btn-sm btn-light float-end mt-0" onclick="addEditAction('26','0')"><i class="ri-add-line"></i></button>
		<div class="ribbon-content">
			<table class="table table-sm table-bordered dt-responsive nowrap w-100" id="SessionYearGrid">
				<thead>
					<tr>
						<th style="display:none;">Id</th>
						<th>@_localization.Getkey("Name")</th>
						<th>@_localization.Getkey("FromDate")</th>
						<th>@_localization.Getkey("ToDate")</th>
						<th>@_localization.Getkey("Default")</th>
						<th>@_localization.Getkey("Actions")</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
	<div class="three-quarters-loadermodel" id="loaderDiv" style="display:none">
		<div class="loader">
			<div class="loader-inner line-scale">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>

		</div>
	</div>
	<div id="primary-header-modal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="primary-header-modalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header modal-colored-header bg-info">
					<h4 class="modal-title" id="primary-header-modalLabel">Modal Heading</h4>
					<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body" id="myModalBodyDiv1">
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {

	<script>



		$(document).ready(function () {
			$("#loaderDiv").show("slow", function () {
				getSessionYear();

				var resObj = setResourceObj();
				getResourceObj(JSON.stringify(resObj));
			})
		});
		function setResourceObj() {
			var msgobj = {};
			msgobj.proceed = `@_localization.Getkey("DeleteProceed")`;
			msgobj.yes = `@_localization.Getkey("Yes")`;
			msgobj.no = `@_localization.Getkey("No")`;
			msgobj.error = `@_localization.Getkey("Error")`;
			msgobj.added = `@_localization.Getkey("Added")`;
			msgobj.updated = `@_localization.Getkey("Updated")`;

			msgobj.deleted = `@_localization.Getkey("Deleted")`;
			msgobj.delete = `@_localization.Getkey("Delete")`;
			msgobj.view = `@_localization.Getkey("View")`;
			msgobj.edit = `@_localization.Getkey("Edit")`;
			msgobj.classes = `@_localization.Getkey("Classes")`;
			msgobj.viewbranch = `@_localization.Getkey("ViewBranch")`;
			msgobj.editsessionyear = `@_localization.Getkey("EditSessionYear")`;
			msgobj.addsessionyear = `@_localization.Getkey("AddSessionYear")`;

			return msgobj;
		}
		function getSessionYear() {
			$.ajax({
				type: 'GET',
				async: false,
				url: '@Url.Action("GetAll", "SessionYear")',
				Accept: 'application/json, text/javascript',
				contentType: 'application/x-www-form-urlencoded; charset=UTF-8',

				success: function (response) {
					if (response != null) {

						var sessionData = [];
						$.each(JSON.parse(response), function (key, value) {
							var stat = "";
							if (value.isDefault == true) {
								stat = '<span class="badge bg-success">@_localization.Getkey("Yes")</span>'
							}
							var btndelete = "";
							if (value.isDelete == "1") {
								btndelete = '<a class="dropdown-item" href="#" onclick="deleteAction(`26`,`SessionYearGrid`, ' + value.id + ')"><i class="ri-delete-bin-line"></i>&nbsp; @_localization.Getkey("Delete")</a>'
							}
							var btnaction = '<div class="btn-group btn-group-sm dropdown" onclick="onSelect(this,SessionYearGrid);"> ' +
								'<a href="#" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-xs" data-bs-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>' +
								'<div class="dropdown-menu dropdown-menu-end">' +
								'<a class="dropdown-item" href="#" onclick="addEditAction(`26`, ' + value.id + ')"><i class="ri-pencil-line"></i>&nbsp; @_localization.Getkey("Edit")</a>' + btndelete +
								'</div>' +
								'</div>'

							sessionData.push([value.id, value.name, value.strFromDate, value.strToDate, stat, btnaction])
						})

						$("#SessionYearGrid").DataTable({
							"bDestroy": true,
							data: sessionData,
							order: [[0, "desc"]],
							"aoColumnDefs": [{ "bVisible": false, "aTargets": [0] }],
							dom: 'lBfrtip',
							buttons: [
								{
									extend: 'csvHtml5',
									text: '<i class="ri-file-excel-line"></i>',
									titleAttr: 'csv',
									filename: `@_localization.Getkey("SessionYears")`,
									className: 'btn btn-outline-light btn-sm',
									exportOptions: {
										columns: [1, 2, 3, 4]
									}
								}
							]
						})
						$("#loaderDiv").hide();

					} else {
						toastr.error(`@_localization.Getkey("Error")`);
					}
				},
				error: function (response) {
					toastr.error(`@_localization.Getkey("Error")`);

				}
			})
		}

	</script>
}

