@using SchoolCoreMOB.Models
@model ScheduleTitle
@using Localization.Services
@inject LanguageService _localization
@inject IConfiguration Configuration
@inject IHttpContextAccessor HttpContextAccessor
@{
    string strtoken = @HttpContextAccessor.HttpContext.Session.GetString("strtoken");
    string userParamkey = @HttpContextAccessor.HttpContext.Session.GetString("UserParam");

}
@Html.HiddenFor(m => m.Id, new{ @id="hfscheduletitledetailid"})
<div class="page-title page-title-small">
    <h2><a href="#" data-back-button><i class="fa fa-arrow-left"></i></a>Examination Details</h2>
</div>
<div class="card card-style mb-2 custom-card rounded-2">
    <div class="content">
        <div class="mb-0">
            <i class="fa fa-star color-yellow-dark me-2"></i>Title : <strong id="spschedTitle"></strong>
        </div>
        <div class="mb-0">
            <i class="fa fa-star color-yellow-dark me-2"></i>Start Date :<strong id="spschedStartDate"></strong>
        </div>
        <div class="mb-0">
            <i class="fa fa-star color-yellow-dark me-2"></i>End Date :<strong id="spschedEndDate"></strong>
        </div>
        @*  <div class="mb-0">
            <i class="fa fa-star color-yellow-dark me-2"></i>Status : <strong id="spschedStatus"></strong>
            </div>
            <div class="mb-0">
            <i class="fa fa-star color-yellow-dark me-2"></i>Exam Halls : <strong id="spschedexamHall"></strong>
            </div>
            <div class="mb-0">
            <i class="fa fa-star color-yellow-dark me-2"></i>Classes : <strong id="spschedclassCount"></strong>
            </div>
            <div class="mb-0">
            <i class="fa fa-star color-yellow-dark me-2"></i>Students : <strong id="spschedStudentCount"></strong>
            </div>*@
    </div>
</div>
@*<div class="card card-style mb-3">
    <div class="list-group list-custom-small list-icon-0 bg-blue-dark ps-3 pe-4">
    <a class="no-effect" href="#" id="anchorProctoring">
    <i class="fa font-14 fa-phone color-white"></i>
    <span class="font-14 color-white">Proctoring</span>
    <i class="fa fa-angle-right color-white"></i>
    </a>
    </div>
    </div>*@

<div id="proctoring-container">
</div>
<div class="row text-center mb-0">
     <a href="#" id="anchorTimeTable" class="col-6 pe-2">
                <div class="card card-style me-0 mb-3 custom-card rounded-2">
                    <h1 class="center-text pt-4 mt-2">
                        <i data-feather="file"
                           data-feather-line="1"
                           data-feather-size="50"
                           data-feather-color="blue-dark"
                           data-feather-bg="blue-fade-light">
                        </i>
                    </h1>
                    <h4 class="color-theme font-600">Time Table</h4>
                    <p class="mt-n2 font-11 color-highlight">
                        View Time Table
                    </p>
                  
                </div>
            </a>
            <a href="#" id="anchorResult" class="col-6 ps-2">
                <div class="card card-style ms-0 mb-3 custom-card rounded-2">
                    <h1 class="center-text pt-4 mt-2">
                        <i data-feather="smartphone"
                           data-feather-line="1"
                           data-feather-size="50"
                           data-feather-color="green-dark"
                           data-feather-bg="green-fade-light">
                        </i>
                    </h1>
                    <h4 class="color-theme font-600">Results</h4>
                    <p class="mt-n2 font-11 color-highlight">
                        View Results
                    </p>
                   
                </div>
            </a>
</div>
@*<div class="card card-style mb-2 custom-card rounded-2">
    <div class="list-group list-custom-small list-icon-0 bg-blue-dark ps-3 pe-4">
        <a class="no-effect" href="#" id="anchorTimeTable">
            <i class="fa font-14 fa-clock color-white"></i>
            <span class="font-14 color-white">TimeTable</span>
            <i class="fa fa-angle-right color-white"></i>
        </a>
    </div>
</div>*@
@*<div class="card card-style mb-3">
    <div class="list-group list-custom-small list-icon-0 bg-blue-dark ps-3 pe-4">
        <a class="no-effect" href="#" id="anchorSyllabus">
            <i class="fa font-14 fa-phone color-white"></i>
            <span class="font-14 color-white">Syllabus</span>
            <i class="fa fa-angle-right color-white"></i>
        </a>
    </div>
</div>*@




<script src="~/scripts/jquery/jquery.min.js"></script>

<script type="text/javascript">
        $(document).ready(function () {
           setActiveNav("@Url.Action("Index", "Home")");
         //   $("#anchorProctoring").on("click", function(event) {
         //            event.preventDefault();
         //            setNewChildNavigation(`/Schedule/Invigilations?scheduleId=`+$("#hfscheduletitledetailid").val()+``);
         //});
          $("#anchorTimeTable").on("click", function(event) {
                     event.preventDefault();
                     setNewChildNavigation(`/Schedule/ExamTimeTable?scheduleId=`+$("#hfscheduletitledetailid").val()+``);
         });
          $("#anchorResult").on("click", function(event) {
                     event.preventDefault();
                     setNewChildNavigation(`/Schedule/ExamResult?scheduleId=`+$("#hfscheduletitledetailid").val()+``);
         });


            showLoading();
              getOperation('@Configuration["WebApi:ClientBaseUrl"]' + `/api/Schedule/MBSchedule/`+$("#hfscheduletitledetailid").val()+``,`@strtoken`,`@Html.Raw(@userParamkey)`)
                            .then(response => {
                                 setBindingValues(response);
                                 // hideLoading();
                                 getOperation('@Configuration["WebApi:ClientBaseUrl"]' + `/api/teacher/TeacherInvigilation/`+$("#hfscheduletitledetailid").val()+``,`@strtoken`,`@Html.Raw(@userParamkey)`)
                                    .then(childresponse => {
                                          setProctoringBindingValues(childresponse);
                                         hideLoading();
                                    })
                                    .catch(error => {
                                         showToast('2', `@_localization.Getkey("Error")`);
                                    });
                            })
                            .catch(error => {
                                 showToast('2', `@_localization.Getkey("Error")`);
                            });


        });


        function setBindingValues(data){
              $("#spschedTitle").html(data.title || '&nbsp;');
               $("#spschedStartDate").html(data.strStartDate || '&nbsp;');
                $("#spschedEndDate").html(data.strEndDate || '&nbsp;');
                 $("#spschedStatus").html(data.status || '&nbsp;');
                 $("#spschedexamHall").html(data.examHallCount || '&nbsp;');
                 $("#spschedclassCount").html(data.classCount || '&nbsp;');
                 $("#spschedStudentCount").html(data.studentCount || '&nbsp;');
        }
  
         function setProctoringBindingValues(data) {
                const container = document.getElementById('proctoring-container');
                let htmlContent = '';  // Build the HTML content here
                data.forEach((result, index) => {                     
                    const collapseId = `collapse-${index}`;
                    const headerId = `header-${index}`;
                    const sectionHTML = `
                        <div class="card card-style mb-2 custom-card rounded-2">
                            <div class="list-group list-custom-small list-icon-0 bg-blue-dark ps-3 pe-4">
                                <a data-bs-toggle="collapse" class="no-effect" href="#${collapseId}" id="${headerId}">
                                    <i class="fa font-14 fa-clock color-white"></i>
                                    <span class="font-14 color-white">Invigilation</span>
                                    <i class="fa fa-angle-down color-white"></i>
                                </a>
                            </div>
                            <div class="collapse ps-2 pe-4" id="${collapseId}">
                                <div class="list-group list-custom-small">
                                    ${
                                        ` <a href="#"><i class="far fa-clock font-14 color-brown-dark"></i><span>${result.strExamDate}</span><span class="badge bg-green-dark font-11"> ${result.examHallName}</span></a>`
                                        
                                    }
                                </div>
                            </div>
                        </div>
                    `;

                    htmlContent += sectionHTML;
                });
                container.innerHTML = htmlContent;
    }
</script>


