@model SchoolCoreWEB.Models.UserRoleVM
@using Localization.Services
@inject LanguageService _localization

<div class="card">

    <div class="card-body">
        <form id="myForm" class="forms-sample">
            @Html.HiddenFor(m => m.UserId)
            <table class="table table-sm table-bordered table-centered mb-0" id="UserGrid">
                <thead>
                    <tr>
                        <th>
                            @_localization.Getkey("Select")
                        </th>
                        <th>@_localization.Getkey("Role")</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < @Model.LstRole.Count(); i++)
                    {
                        <tr>
                            <td>
                                @Html.CheckBoxFor(m => @Model.LstRole[i].IsSelected, new{ @class="form-check-input"})
                                @Html.HiddenFor(m => @Model.LstRole[i].Id)
                            </td>
                            <td>
                                @Model.LstRole[i].Name
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary mr-2" onclick="submitUserRole()">@_localization.Getkey("Update")</button>
            </div>
        </form>
        <div class="three-quarters-loadermodel" id="loaderDiv1" style="display:none">
            <div class="loader">
                <div class="loader-inner line-scale">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>

            </div>
        </div>
    </div>

</div>





<script type="text/javascript">
     $('#chkrole').change(function () {
            $('#chkrole tbody tr td input[type="checkbox"]').prop('checked', $(this).prop('checked'));
        });
    function submitUserRole(){
        $("#loaderDiv1").show("slow", function () {
        var myformdata = $("#myForm").serialize();
           $.ajax({
            type: 'POST',
            url: '@Url.Action("UpdateUserRole","User")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: myformdata,
            success: function (response) {
                if (response != null) {
                        var serviceresult = JSON.parse(response);
                    actionAfterResponse('UserGrid', serviceresult.recordId, serviceresult.statusId, '19');

                        } else {
                             toastr.error(`@_localization.Getkey("Error")`);
                        }
            },
            error: function (response) {
                     toastr.error(`@_localization.Getkey("Error")`);

            }
           })
        })
    }
</script>
