@model SchoolCoreWEB.Models.AttendenceVM
@using Localization.Services
@inject LanguageService _localization




<input type="hidden" id="hfdailyattendenceid">
<input type="hidden" id="hfworkingdate">
<input type="hidden" id="hfbranchclassid">

<div class="card ribbon-box">
	<div class="card-body">
		<div class="ribbon ribbon-info float-start"><i class="mdi mdi-access-point me-1"></i> @_localization.Getkey("AttendenceInfo")</div>
		<button type="button" id="btnAddAttendence" class="btn btn-sm btn-light float-end mt-0" onclick="addEditAction('21','0')" style="display:none"><i class="ri-add-line"></i></button>
		<div class="ribbon-content">
			<table class="table table-sm table-bordered dt-responsive nowrap w-100" id="DailyAttendanceGrid">
				<thead>
					<tr>
						<th style="display:none;">Id</th>
						<th> @_localization.Getkey("Date")</th>
						<th>@_localization.Getkey("Classes")</th>
						<th>@_localization.Getkey("Admins")</th>
						<th>@_localization.Getkey("Teachers")</th>
						<th>@_localization.Getkey("Staff")</th>
						@*<th>@_localization.Getkey("Drivers")</th>*@
						<th>@_localization.Getkey("Actions")</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>
<div class="three-quarters-loadermodel" id="loaderDiv" style="display:none">
	<div class="loader">
		<div class="loader-inner line-scale">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>

	</div>
</div>
<div id="primary-header-modal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="primary-header-modalLabel" aria-hidden="true">
	<div class="modal-dialog  modal-full-width modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header modal-colored-header bg-info">
				<h4 class="modal-title" id="primary-header-modalLabel">Modal Heading</h4>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" onclick="onModalClose()"></button>
			</div>
			<div class="modal-body" id="myModalBodyDiv1">
			</div>
		</div>
	</div>
</div>

@section Scripts {

	<script>


		$(document).ready(function () {
			$("#loaderDiv").show("slow", function () {
				getDailyAttendence();

				var resObj = setResourceObj();
				getResourceObj(JSON.stringify(resObj));
			})
		});
		function setResourceObj() {
			var msgobj = {};
			msgobj.proceed = `@_localization.Getkey("DeleteProceed")`;
			msgobj.yes = `@_localization.Getkey("Yes")`;
			msgobj.no = `@_localization.Getkey("No")`;
			msgobj.error = `@_localization.Getkey("Error")`;
			msgobj.added = `@_localization.Getkey("Added")`;
			msgobj.updated = `@_localization.Getkey("Updated")`;

			msgobj.deleted = `@_localization.Getkey("Deleted")`;
			msgobj.delete = `@_localization.Getkey("Delete")`;
			msgobj.view = `@_localization.Getkey("View")`;
			msgobj.edit = `@_localization.Getkey("Edit")`;
			msgobj.classes = `@_localization.Getkey("Classes")`;
			msgobj.viewattendence = `@_localization.Getkey("ViewAttendence")`;
			msgobj.editattendence = `@_localization.Getkey("EditAttendence")`;
			msgobj.addattendence = `@_localization.Getkey("AddAttendence")`;

			return msgobj;
		}
		function getDailyAttendence() {

				$.ajax({
					type: 'POST',
					async: false,
					url: '@Url.Action("GetAll", "Attendence")',
					Accept: 'application/json, text/javascript',
					contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
					success: function (response) {
						if (response != null) {
							if (!response.isAttendenceExist) {
								$("#btnAddAttendence").show();
							}
							var cardData = [];
							$.each(response.lstAttendence, function (key, value) {
								var stradmin = ""; var strteacher = ""; var strstaff = ""; var strdriver = ""; var strclass = "";

								if (value.adminStatusName == "Completed") {
									stradmin = '<span class="badge bg-success"><i class="ri-check-line"></i></span>'
								}
								else{
									 stradmin = '<span class="badge bg-danger"> <i class="ri-close-line"></i></span>'
								}
								if (value.teacherStatusName == "Completed") {
									strteacher = '<span class="badge bg-success"><i class="ri-check-line"></i></span>'
								}
								 else{
									 strteacher = '<span class="badge bg-danger"> <i class="ri-close-line"></i></span>'
								}

								if (value.staffStatusName == "Completed") {
									strstaff = '<span class="badge bg-success"><i class="ri-check-line"></i></span>'
								}
								 else{
									 strstaff = '<span class="badge bg-danger"> <i class="ri-close-line"></i></span>'
								}
								//if (value.driverStatusName == "New") {
								//    strdriver = '<span class="badge bg-info">' + value.driverStatusName + '</span>'
								//}
								//if (value.driverStatusName == "Completed") {
								//    strdriver = '<span class="badge bg-success">' + value.driverStatusName + '</span>'
								//}
								if (value.studentResultPercent == 0) {
									strclass = '<span class="badge bg-danger"> <i class="ri-close-line"></i></span>'
								}
								if (value.studentResultPercent == 100) {
									strclass = '<span class="badge bg-success"><i class="ri-check-line"></i></span>'
								}
								else if (value.studentResultPercent > 0 && value.studentResultPercent < 100) {
									strclass = '<span class="badge bg-warning"> <i class="ri-check-line"></i></span>'
								}

								var btnedit = "";
								if (value.isEdit == "1") {
									btnedit = '<a class="dropdown-item" href="#" onclick="addEditAction(`21`, ' + value.id + ')"><i class="ri-pencil-line"></i>&nbsp; @_localization.Getkey("Edit")</a>'
								}
								var btnaction = '<div class="btn-group btn-group-sm dropdown" onclick="onSelect(this,DailyAttendanceGrid);"> ' +
									'<a href="#" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-xs" data-bs-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>' +
									'<div class="dropdown-menu dropdown-menu-end">' +
									 // '<a class="dropdown-item" href="#" onclick="viewDetails(' + value.id + ',`' + value.strWorkingDate + '`)"><i class="ri-eye-line"></i>&nbsp; @_localization.Getkey("View")</a>' +
									 '<a class="dropdown-item" href="#" onclick="viewAction(`21`, ' + value.id + ')"><i class="ri-pencil-line"></i>&nbsp; @_localization.Getkey("View")</a>' +
									btnedit +

									'</div>' +
									'</div>'

								cardData.push([value.id, value.strWorkingDate, strclass, stradmin, strteacher, strstaff, btnaction])
							})

							$("#DailyAttendanceGrid").DataTable({
								"bDestroy": true,
								data: cardData,
								order: [[0, "desc"]],
								"aoColumnDefs": [{ "bVisible": false, "aTargets": [0] }],
								dom: 'lBfrtip',
								buttons: [
									{
										extend: 'csvHtml5',
										text: '<i class="ri-file-excel-line"></i>',
										titleAttr: 'csv',
										filename: `@_localization.Getkey("Attendence")`,
										className: 'btn btn-outline-light btn-sm',
										exportOptions: {
											columns: [1, 2, 3, 4, 5, 6]
										}
									}
								]
							})
							$("#loaderDiv").hide();

						} else {
							toastr.error(`@_localization.Getkey("Error")`);

						}
					},
					error: function (response) {
						toastr.error(`@_localization.Getkey("Error")`);

					}
				})

		}
		//function backtoList() {
		//    $("#loaderDiv").show();
		//    $("#divdetail").hide("slow", function () {
		//        $("#divlist").show();
		//        $("#divstudentattendence").hide();

		//        $("#loaderDiv").hide();
		//    });
		//}
		//function viewDetails(id, workingdate) {

		//    if (id > 0) {
		//        $("#hfdailyattendenceid").val(id);
		//        $("#divlist").hide("slow", function () {
		//            $("#divdetail").show();
		//            $("#headDate").html('Attendence for : ' + workingdate);

		//            getBranchClassAttendenceById();

		//        });
		//    }
		//}
		function getBranchClassAttendenceById() {
			$("#loaderDiv").show();
			$.ajax({
				type: 'GET',
				async: false,
				url: '@Url.Action("GetBranchClassAttendenceById", "Attendance")?Id=' + $("#hfdailyattendenceid").val(),
				Accept: 'application/json, text/javascript',
				contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
				success: function (response) {
					if (response != null) {
						var result = response;
						$("#ulbrcls").empty();
						var liexam = [];
						for (var i = 0; i < result.length; i++) {
							var item = setLiBrcls(result[i]);
							liexam.push(item);
						}
						$("#ulbrcls").html(liexam);
						$("#loaderDiv").hide();

					} else {
						toastr.error(`@_localization.Getkey("Error")`);
					}
				},
				error: function (response) {
					toastr.error(`@_localization.Getkey("Error")`);
				}
			})
		}
		function setLiBrcls(data) {

			var li = document.createElement('li');
			li.className = "list-group-item";
			li.style.backgroundColor = data.StatusColor;
			li.onclick = (function (id, name, workingdate, li) { return function () { SelectedClassChanged(id, name, workingdate, li); } })(data.Id, data.ClassName, data.StrWorkingDate, li);

			var hidden = document.createElement('input');
			hidden.type = "hidden";
			hidden.value = data.Id;

			var anchor = document.createElement('a');
			anchor.href = "#";
			anchor.className = "nav-link";
			anchor.innerText = data.ClassName;

			li.appendChild(hidden);
			li.appendChild(anchor);
			return li;
		}
		function SelectedClassChanged(id, name, workingdate, li) {
			$("#hfbranchclassid").val(id);
			$("#lblclassName").html(name);
			$("#hfworkingdate").val(workingdate);


			$("#loaderDiv").show("slow", function () {
				$("#divstudentattendence").show();
				getStudentsByBranchClassAttendence();
				$("#loaderDiv").hide();
			});

			if (!$(li).hasClass("active")) {
				// Remove the class from anything that is active
				$("#ulbrcls li").removeClass("active");
				// And make this active
				$(li).addClass("active");
			}
		}
		function getStudentsByBranchClassAttendence() {
			$.ajax({
				type: "post",
				async: false,
				url: '@Url.Action("GetStudentsByBranchClass", "Attendance")',
				data: { branchclassId: $("#hfbranchclassid").val(), strworkingdate: $("#hfworkingdate").val() },
				dataType: 'json',
				traditional: true,
				success: function (response) {
					if (response != null) {
						var result = response;
						$("#studentattendencebody").empty();
						for (var j = 0; j < result.length; j++) {
							insertintotbl(result[j]);
						}
					}
					else {
						$("#loaderDiv").hide();
						$("#studentattendencebody").empty();
					}
				},
				error: function (response) {
					toastr.error(`@_localization.Getkey("Error")`);
				}
			});

		}
		function insertintotbl(data) {
			var tblbdy = document.getElementById("studentattendencebody");
			var rowIndex = tblbdy.rows.length;
			var newRow = tblbdy.insertRow(rowIndex);
			cell1 = newRow.insertCell(0);
			cell1.innerHTML = data.Id;
			cell1.style.display = "none";

			var spcls = document.createElement("span");
			spcls.innerHTML = data.RegisterNo;
			cell2 = newRow.insertCell(1);
			cell2.appendChild(spcls);

			var spcls2 = document.createElement("span");
			spcls2.innerHTML = data.FullName;
			cell3 = newRow.insertCell(2);
			cell3.appendChild(spcls2);

			var spcls3 = document.createElement("span");
			spcls3.innerHTML = data.ClassName;
			cell4 = newRow.insertCell(3);
			cell4.appendChild(spcls3);

			var spcls4 = document.createElement("span");
			spcls4.innerHTML = data.SectionName;
			cell5 = newRow.insertCell(4);
			cell5.appendChild(spcls4);

			var chk = document.createElement("input");
			chk.type = "checkbox";
			chk.className = "form-check-input";
			chk.disabled = "disabled"
			chk.checked = data.IsSelected;
			cell6 = newRow.insertCell(5);
			cell6.appendChild(chk);

			var input = document.createElement("input");
			input.className = "form-control form-control-sm"
			input.value = data.Remarks;
			input.disabled = "disabled"
			cell7 = newRow.insertCell(6);
			cell7.appendChild(input);

		}

	</script>
}




