@model SchoolCoreMOB.Models.MbPersonnelDetail
@using Localization.Services
@inject LanguageService _localization
@inject IConfiguration Configuration
@inject IHttpContextAccessor HttpContextAccessor
@{    
    string strtoken= @HttpContextAccessor.HttpContext.Session.GetString("strtoken");
    string userParamkey = @HttpContextAccessor.HttpContext.Session.GetString("UserParam"); 
    
}
<div class="page-title page-title-small">  
    <h2><a href="#" data-back-button><i class="fa fa-arrow-left"></i></a>Back</h2>
</div>

<div class="card card-style">
    <div class="content">
        <div class="d-flex">
            <div>
                <img id="imgpersonnel" width="50" class="me-3 bg-highlight rounded-xl">
            </div>
            <div>
                <h1 class="mb-0 pt-1" id="headerpersonnelname"></h1>
                <p class="color-highlight font-11 mt-n2 mb-3" id="pusertypename"></p>
            </div>
        </div>
        <hr />

        <div class="mb-0">
            <i class="fa fa-star color-yellow-dark me-2"></i>Branch : <strong id="spbranchname"></strong>
        </div>
        <div class="mb-0">
            <i class="fa fa-star color-yellow-dark me-2"></i>Admission No :<strong id="spadmissionno"></strong>
        </div>
        <div class="mb-0">
            <i class="fa fa-star color-yellow-dark me-2"></i>Admission Date :<strong id="spadmissiondate"></strong>
        </div>
        <div class="mb-0">
            <i class="fa fa-star color-yellow-dark me-2"></i>Employee No : <strong id="spemployeeno"></strong>
        </div>
        <div class="mb-0">
            <i class="fa fa-star color-yellow-dark me-2"></i>Status :<span id="spactivestatus"></span>
        </div>
        <div class="mb-0">
            <i class="fa fa-star color-yellow-dark me-2"></i>Attendance :<span id="spattendance"></span><span>%</span>
        </div>
        <hr />
        <div class="mb-0">
            <i class="fa fa-star color-yellow-dark me-2"></i>Class Teacher :<div id="spclassteacher"></div>
        </div>
        <div class="mb-0">
            <i class="fa fa-star color-yellow-dark me-2"></i>Subject Teacher :<div id="spsubjectteacher"></div>
        </div>
        <hr />
        <div>
            <h6 class="mb-0 pt-1">Personal Information</h6>
        </div>
        <div class="mb-0">
            <i class="fa fa-star color-blue-dark me-2"></i>Name :<strong id="txtname"></strong>
        </div>
        <div class="mb-0">
            <i class="fa fa-star color-blue-dark me-2"></i>Gender :<strong id="txtgender"></strong>
        </div>
        <div class="mb-0">
            <i class="fa fa-star color-blue-dark me-2"></i>Date Of Birth :<strong id="txtdob"></strong>
        </div>
        <div class="mb-0">
            <i class="fa fa-star color-blue-dark me-2"></i>Blood Group :<strong id="txtbloodgroup"></strong>
        </div>
        <hr />
        <div>
            <h6 class="mb-0 pt-1">Parent's Information</h6>
        </div>
        <div class="mb-0">
            <i class="fa fa-star color-blue-dark me-2"></i>Father Name :<strong id="txtfathername"></strong>
        </div>
        <div class="mb-0">
            <i class="fa fa-star color-blue-dark me-2"></i>Mother Name :<strong id="txtmothername"></strong>
        </div>
        <div class="mb-0">
            <i class="fa fa-star color-blue-dark me-2"></i>Mobile Number :<strong id="txtmobileno"></strong>
        </div>
        <div class="mb-0">
            <i class="fa fa-star color-blue-dark me-2"></i>Alternate Number :<strong id="txtothermobileno"></strong>
        </div>
        <div class="mb-0">
            <i class="fa fa-star color-blue-dark me-2"></i>Current Address :<strong id="txtcurrentaddress"></strong>
        </div>
        <div class="mb-0">
            <i class="fa fa-star color-blue-dark me-2"></i>Permanent Address :<strong id="txtpermanentaddress"></strong>
        </div>

    </div>
</div>
@*<div class="card card-style">
    <div class="content mt-3 mb-2">
        <h1 class="vcard-title text-capitalize font-18  color-highlight">Basic Info</h1>
        <div class="vcard-field"><strong>Name</strong><p id="txtname"></p></div>
        <div class="vcard-field"><strong>Gender</strong><p id="txtgender"></p></div>
        <div class="vcard-field"><strong>Date Of Birth</strong><p id="txtdob"></p></div>
        <div class="vcard-field"><strong>Blood Group</strong><p id="txtbloodgroup"></p></div>
        <div class="vcard-field"><strong>Qualification</strong><p id="txtqualification"></p></div>
        <div class="vcard-field"><strong>Designation</strong><p id="txtdesignation"></p></div>
        <div class="vcard-field"><strong>Email</strong><p id="txtemail"></p></div>
    </div>
</div>
<div class="card card-style">
    <div class="content mt-3 mb-2">
        <h1 class="vcard-title text-capitalize font-18  color-highlight">Other Info</h1>
        <div class="vcard-field"><strong>Father Name</strong><p id="txtfathername"></p></div>
        <div class="vcard-field"><strong>Mother Name</strong><p id="txtmothername"></p></div>
        <div class="vcard-field"><strong>Mobile Number</strong><p id="txtmobileno"></p></div>
        <div class="vcard-field"><strong>Alternate Mobile Number</strong><p id="txtothermobileno"></p></div>
        <div class="vcard-field"><strong>Current Address</strong><p id="txtcurrentaddress"></p></div>
        <div class="vcard-field"><strong>Permanent Address</strong><p id="txtpermanentaddress"></p></div>

    </div>
</div>*@




<script src="~/scripts/jquery/jquery.min.js"></script>

<script>
     $(document).ready(function () {
         //var objProfile = @Html.Raw(Json.Serialize(Model));
     // getProfileDetail();
      showLoading();
         getOperation('@Configuration["WebApi:ClientBaseUrl"]' + `/api/MbPersonnel/PersonnelDetailView`,`@strtoken`,`@Html.Raw(@userParamkey)`)
                        .then(response => {
                              setBindingValues(response);                            
                             hideLoading();                        
                        })
                        .catch(error => {                          
                             showToast('2', `@_localization.Getkey("Error")`);
                        });
    });

    //  function getProfileDetail() {
    //      showLoading();
    //    $.ajax({
    //        type: 'GET',
    //        async: false,
    //        url: '@Url.Action("GetProfileDetail", "Profile")',
    //        Accept: 'application/json, text/javascript',
    //        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
    //        success: function (response) {
    //            if (response != null) {
    //                setBindingValues(response);
    //              //  setfooterActiveAfterNavigation();
    //                hideLoading();                   
    //            } else {                  
    //               showToast('2', `@_localization.Getkey("Error")`);
    //            }
    //        },
    //        error: function (response) {              
    //           showToast('2', `@_localization.Getkey("Error")`);
    //        }
    //    })
    //}
    function setBindingValues(data){

         $("#headerpersonnelname").html(data.fullName || '&nbsp;');
        $("#txtname").html(data.fullName ? data.fullName : '&nbsp;');
        $("#txtgender").html(data.genderName || '&nbsp;');
        $("#txtdob").html(data.dateOfBirth || '&nbsp;');
         $("#txtbloodgroup").html(data.bloodGroupName || '&nbsp;');
          $("#txtqualification").html(data.qualification || '&nbsp;');

         $("#txtdesignation").html(data.designation || '&nbsp;');
         $("#txtemail").html(data.emailAddress || '&nbsp;');
          $("#imgpersonnel").attr("src", '@Configuration["WebApi:ImageBaseUrl"]' + data.filePath);

           $("#txtfathername").html(data.fatherName || '&nbsp;');
            $("#txtmothername").html(data.motherName || '&nbsp;');
             $("#txtmobileno").html(data.defaultMobileNo || '&nbsp;');
              $("#txtothermobileno").html(data.alternateMobileNo || '&nbsp;');
               $("#txtcurrentaddress").html(data.currentAddress || '&nbsp;');
                $("#txtpermanentaddress").html(data.permanentAddress || '&nbsp;');


                  $("#spbranchname").html(data.branchName || '&nbsp;');
                   $("#spadmissionno").html(data.admissionNo || '&nbsp;');
                    $("#spadmissiondate").html(data.admissionDate || '&nbsp;');
                     $("#spemployeeno").html(data.employeeRollNo || '&nbsp;');
                     $("#spattendance").html(data.attPercent || '&nbsp;');

                     if(data.activeStatus=="1"){
                         $("#spactivestatus").html('Active');
                         $("#spactivestatus").addClass('badge bg-green-dark me-2');
                     }
                     else{
                          $("#spactivestatus").html('In Active');
                           $("#spactivestatus").addClass('badge bg-red-dark me-2');
                     }
                     if(data.personnelType == "2"){
                         $("#pusertypename").html('Admin');
                     }
                     if(data.personnelType == "3"){
                          $("#pusertypename").html('Teacher');
                     }
                     if(data.personnelType == "4"){
                          $("#pusertypename").html('Student');
                     }

                     var className = "";
                        var spans = "";
                        if (data.classTeacherCount > 0 && data.teacherClassName != null) {
                            if (data.classTeacherCount == 1) {
                                spans = `<span class="badge bg-info">` + data.teacherClassName + `</span>`
                            }
                            if (data.classTeacherCount > 1) {
                                var clsArray = data.teacherClassName.split(",");
                                for (var i = 0; i < clsArray.length; i++) {
                                    spans += `<span class="badge bg-info">` + clsArray[i] + `</span><br/>`
                                }
                            }
                            className = '<div>' + spans + '</div>'
                        }
                         $("#spclassteacher").html(className);

                         var subjName = "";
                        var subspans = "";
                        if (data.classSubjectTeacherCount > 0) {
                            if (data.ClassSubjectTeacherCount == 1) {
                                subspans = `<span class="badge bg-info">` + data.teacherSubjectName + `</span>`
                            }
                            if (data.classSubjectTeacherCount > 1) {
                                var clssubArray = data.teacherSubjectName.split(",");
                                for (var i = 0; i < clssubArray.length; i++) {
                                    subspans += `<span class="badge bg-info">` + clssubArray[i] + `</span><br/>`
                                }
                            }
                            subjName = '<div>' + subspans + '</div>'
                        }
                         $("#spsubjectteacher").html(subjName);
    }
   
</script>