@model SchoolCoreWEB.Models.ExamTime
@using Localization.Services
@inject LanguageService _localization

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="row">
                        <div class="col-5">
                            <label>@_localization.Getkey("FromTime") : </label>
                        </div>
                        <div class="col-7">
                            @Html.DisplayFor(model => model.FromTime)
                        </div>
               </div>
               <div class="row">
                        <div class="col-5">
                    <label>@_localization.Getkey("ToTime") : </label>
                        </div>
                        <div class="col-7">
                            @Html.DisplayFor(model => model.ToTime)
                        </div>
               </div>    
               <div class="row">
                        <div class="col-5">
                    <label>@_localization.Getkey("Description") : </label>
                        </div>
                        <div class="col-7">
                            @Html.DisplayFor(model => model.Description)
                        </div>
               </div>              
          
        </div>
    </div>   
</div>
